manifest {
    name = 'Camila Sao Paulo analysis'
    description = "Workflow for the the Camila Sao Paulo analsis"
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}

    plugins {
            id 'nf-azure'
            }

profiles {
    standard {includeConfig 'configs/standard.config'}
    gls {includeConfig 'configs/gcp.config'}
    azureBatch {includeConfig 'configs/azure.config'}
    awsBatch {includeConfig 'configs/aws.config'}
}

