profiles{ 
    awsbatch {
        workDir = 's3://YOUR WORK DIR' // <- replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'awsbatch'
        }

        aws {
            region = 'YOUR REGION'
            client.uploadMaxThreads = 4

        }
}
